{% extends "base.html" %}

{% block title %}{{ SITENAME }} - 博客{% endblock %}

{% block content %}
<div class="container mb-auto">
    <h1 class="text-center my-5 py-3">博客</h1>
    {% for article in articles %}
    <div class="row justify-content-evenly text-center fs-4 mb-3">
        <div class="col-4">{{ article.locale_date }}</div>
        <div class="col-6"><a href="{{ SITERUL }}/{{ article.url }}" class="link-light">{{ article.title }}</a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
