{% extends "base.html" %}

{% block title %}{{ SITENAME }} - 博客{% endblock %}

{% block content %}
<div class="container mb-auto">
    {% block content_title %}
    <h1 class="text-center my-5 py-3">博客</h1>
    {% endblock %}
    {% for article in articles %}
    <div class="row justify-content-evenly text-justify text-nowrap fs-4 mb-3">
        <div class="col-5 col-md-6 text-end">{{ article.locale_date }}</div>
        <div class="col-7 col-md-6">
            <a href="{{ SITERUL }}/{{ article.url }}" class="link-light">{{ article.title }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
