{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="container mb-auto">
  <section id="content">
    <div class="my-1">
    <header>
      <div class="row">
      <div class="col-12 text-center"><h1 class="display-3"><a href="{{ SITEURL }}/{{ article.url }}" title="转到{{ article.title|striptags }}" class="link-light">{{ article.title }}</a></h1></div>
      </div>
      <div class="row justify-content-center text-center my-1 py-1">
        <div class="col-md-4"><time class="" datetime="{{ article.date.isoformat() }}">发表于: {{ article.locale_date }}</time></div>
        {% if article.modified %}
          <div class="col-md-4"><time class="" datetime="{{ article.modified.isoformat() }}">修改于: {{ article.locale_modified }}</time></div>
        {% endif %}
        <!-- {% if article.authors %}
          <div class="col-2">
          {% for author in article.authors %}
          <address class="author"><a class="link-light" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></address>
          {% endfor %}
          </div>
        {% endif %} -->
        {% if article.category %}
          <div class="col-md-4">分类于: <a href="{{ SITEURL }}/{{ article.category.url }}" class="link-light">{{ article.category }}</a></div>
        {% endif %}
        {% if article.tags %}
          <div class="col-md-4">
            关键词: 
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="link-light">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </header>
    </div>
    <div class="row justify-content-center mx-auto">
      <div class="col-md-10 text-justify my-3">{{ article.content }}</div>
    </div> 
  </section>
</div>
{% endblock %}
