{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ period | reverse | join(' ') }} 归档{% endblock %}

{% block content %}
<div class="container mb-auto justify-content-center">
    <h1 class="text-center my-5 py-3">{{ period | reverse | join(' ') }}归档</h1>
    {% for article in dates %}
    <div class="row text-nowrap fs-4 mb-3">
        <div class="col-5 col-md-6 text-end pe-5">{{ article.locale_date }}</div>
        <div class="col-5 col-md-6"><a href="{{ SITEURL }}/{{ article.url }}" class="link-light">{{ article.title }}</a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
