<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="{{ SITEURL }}" class="navbar-brand">{{ SITENAME }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for title, link in MENUITEMS %}
        <li class="nav-item"><a class="nav-link" href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
        <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        <!-- TODO: 把所有分类放进一个目录 -->
        {% for cat, null in categories %}
        <li class="nav-item"><a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </nav>
</div>