<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-4">
            {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="btn btn-secondary" role="button">上一页</a>
            {% endif %}
        </div>
        <div class="col-4">
            {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="btn btn-secondary" role="button">下一页</a>
            {% endif %}
        </div>
    </div>
</div>